<?xml version="1.0"?>
<settings>
    <setting propertyKey="@Properties.weatherSource" title="@Strings.SettingWeatherSource">
        <settingConfig type="list">
            <listEntry value="0">Garmin</listEntry>
            <listEntry value="1">Open-Meteo</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.locationSource" title="@Strings.SettingLocationSource">
        <settingConfig type="list">
            <listEntry value="0">GPS</listEntry>
            <listEntry value="1">Garmin Weather</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.weatherInterval" title="@Strings.SettingWeatherInterval">
        <settingConfig type="list">
            <listEntry value="0">5 min</listEntry>
            <listEntry value="1">10 min</listEntry>
            <listEntry value="2">15 min</listEntry>
            <listEntry value="3">30 min</listEntry>
            <listEntry value="4">60 min</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.weekendColor" title="@Strings.SettingWeekendColor">
        <settingConfig type="list">
            <listEntry value="0">Red</listEntry>
            <listEntry value="1">Orange</listEntry>
            <listEntry value="2">Green</listEntry>
            <listEntry value="3">Blue</listEntry>
            <listEntry value="4">Gray</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.hourColor" title="@Strings.SettingHourColor">
    <settingConfig type="list">
            <listEntry value="0">White</listEntry>
            <listEntry value="1">Red</listEntry>
            <listEntry value="2">Orange</listEntry>
            <listEntry value="3">Green</listEntry>
            <listEntry value="4">Blue</listEntry>
            <listEntry value="5">Yellow</listEntry>
            <listEntry value="6">Gray</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.minuteColor" title="@Strings.SettingMinuteColor">
        <settingConfig type="list">
            <listEntry value="0">White</listEntry>
            <listEntry value="1">Red</listEntry>
            <listEntry value="2">Orange</listEntry>
            <listEntry value="3">Green</listEntry>
            <listEntry value="4">Blue</listEntry>
            <listEntry value="5">Yellow</listEntry>
            <listEntry value="6">Gray</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.colonColor" title="@Strings.SettingColonColor">
    <settingConfig type="list">
        <listEntry value="0">White</listEntry>
        <listEntry value="1">Red</listEntry>
        <listEntry value="2">Orange</listEntry>
        <listEntry value="3">Green</listEntry>
        <listEntry value="4">Blue</listEntry>
        <listEntry value="5">Yellow</listEntry>
        <listEntry value="6">Gray</listEntry>
        <listEntry value="7">Hidden</listEntry>
    </settingConfig>
</setting>

    <setting propertyKey="@Properties.bottomBlock" title="@Strings.SettingBottomBlock">
        <settingConfig type="list">
            <listEntry value="0">Calendar</listEntry>
            <listEntry value="1">Sport</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.precipRing"     title="@Strings.SettingPrecipRing">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.dangerRingMode" title="@Strings.SettingDangerRing">
        <settingConfig type="list">
            <listEntry value="0">Off</listEntry>
            <listEntry value="1">Inside</listEntry>
            <listEntry value="2">Outside</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.ringMinPrecip" title="@Strings.SettingRingMinPrecip">
        <settingConfig type="list">
            <listEntry value="0">5%</listEntry>
            <listEntry value="1">10%</listEntry>
            <listEntry value="2">20%</listEntry>
            <listEntry value="3">30%</listEntry>
            <listEntry value="4">40%</listEntry>
            <listEntry value="5">50%</listEntry>
            <listEntry value="6">60%</listEntry>
            <listEntry value="7">70%</listEntry>
            <listEntry value="8">80%</listEntry>
            <listEntry value="9">90%</listEntry>
            <listEntry value="10">100%</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.precipForecast" title="@Strings.SettingPrecipForecast">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.weatherDisplay" title="@Strings.SettingWeather">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.heartRate"      title="@Strings.SettingHeartRate">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.weatherDemoMode" title="@Strings.SettingWeatherDemoMode">
        <settingConfig type="boolean"/>
    </setting>

</settings>